<link rel="canonical" href="https://www.dfonts.org/fonts/circular-font-family/">

<header id="layout-header">
  <nav>
    <div class="mini-logo">
      <p>
        <a href="/"> <span>&#60; </span> Codeial /<span>&#62;</span></a>
      </p>
    </div>

    <div class="auth-links">
      
        <% if (locals.user){ %>
        
        <div class="user-name"> 
            <a href="/users/profile/<%= user.id %>">
              
             
              <img src="<%= user.avatar? user.avatar: assetPath('images/empty-avatar.png') %>" alt="avatar" />



            <span class="name"><%= user.name %></span></a>
        </div>
        
       <div class="signOut">
        <a href="/users/sign-out">Sign Out</a>

       </div>
        
        <% }else{ %>
        <div class="signIn">
          <a href="/users/sign-in">Sign In</a>
        </div>
        <div class="signUp">
            <a href="/users/sign-up">Sign Up</a>

        </div>
       

        <% } %>
      </ul>
    </div>
  </nav>
  <div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div class="sidemenuContainer"></div>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        
        
            <% if (locals.user){ %>
        
                
                <li>
               <div class="signOut">
                <a href="/users/sign-out">Sign Out</a>
        
               </div>
            </li>
                <% }else{ %>
                <li>
                <div class="signIn">
                  <a href="/users/sign-in">Sign In</a>
                </div>
                </li>
                <li>
                <div class="signUp">
                    <a href="/users/sign-up">Sign Up</a>
        
                </div>
               
            </li>
                <% } %>
        
        
      </ul>
    </div>
  </div>
</header>
