<!-- <form action="/users/updatePassword/<%= user %>" method="post">
  <input type="email" name="email" placeholder="Your Email" required>
  <input type="text" name="id" value="<%= user %>" hidden />
  <input type="password" name="password" placeholder="Your Password" required />
  <input
    type="password"
    name="confirm_password"
    placeholder="Confirm Password"
    required
  />
  <input type="submit" value="Change Password" />
</form> -->

<link rel="stylesheet" href="<%= assetPath('css/forgot_password.css') %>" />

<div class="wrapper">
  <div id="formContent">
    <form action="/users/updatePassword/<%= user %>" method="post">
      <!-- <input
        class="fadeIn second"
        type="email"
        name="email"
        placeholder="Email"
        required
      /> -->
      <input
        type="password"
        class="fadeIn second"
        name="password"
        placeholder="Your Password"
        required
      />
      <input
        type="password"
        class="fadeIn second"
        name="confirm_password"
        placeholder="Confirm Password"
        required
      />
      <input type="submit" value="Change Password" />
    </form>
  </div>
</div>
