<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body> -->
         <!-- including header and footer from another file -->
         <!-- here _ is awritten to just specify is differnt from other files -->
         <!-- <%- include('_header'); -%> -->


        <!-- rest part is not needed -->
        <link rel="stylesheet" href="/css/home.css">

        <h1>
            Codeial : <%= title %>
        </h1>


        <section id="feed-post">
            <h4>Posts</h4>
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content"  cols="30" rows="3" placeholder="Type Something...."></textarea>
                <input type="submit" value="Post">
            </form>
        </section>
        <!-- for js  -->
        <!-- <script src="./css/js"></script> -->
        <!-- <%- include('_footer'); -%>
    </body>
</html> -->