<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body> -->
        <!-- including header and footer from another file -->
        <!-- <%- include('_header'); -%> -->
        <link rel="stylesheet" type ="text/css" href="/css/profile.css">       
        <h1>
            USR Profile : Ganesh Nanhe
        </h1>

        <!-- <%- include('_footer'); -%>
    </body>
</html> -->