.postCommentAuther {
  color: #c3c5d5;
  font-weight: 600;
  font-size: 1rem;
  line-height: 16px;
}

.postCommentContent {
  margin-top: 7px;
  margin-left: 15px;
  color: #c3c5d5;
  font-weight: 500;
}

.postCommentTime {
  margin-left: 150px;
}
