#layout-footer {
  color: white;
  a {
    color: white;
    text-decoration: none;
  }

  background: #162042;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  width: 100vw;

  .footer-nav {
    ul {
      list-style: none;
    }
  }
}
