<div>

    <p>
        Hi <%= comment.user.name %>!
    </p>
    <br>
    <br>
    <p>Your comment <%= comment.content %> just got published on codeial.</p>
    <br>
    <br>
    <p>Thanks</p>

</div>