<div>
    <p>Hi! <%=data.user.name %></p>
    <br>
    <p><a href="http://localhost:8000/users/change-password/<%=data._id %>">Link : http://localhost:8000/users/change-password/<%=data._id %></a></p>
    <br>
    <p>Thanks</p>
</div>